.desktop-1 {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 154px;
  width: 1440px;
  box-sizing: border-box;
}
.desktop-1 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .container-1 {
  background: #E5E5E5;
  position: relative;
  margin: 0 85px 1px 0;
  display: flex;
  flex-direction: column;
  padding: 234px 0 36px 26px;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .passionate-about-building-software-ai-for-med {
  margin-left: 6.3px;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #3F314B;
}
.desktop-1 .pngfind-com-delivery-icon-png-13265191 {
  background: url('../assets/images/pngfind_com_delivery_icon_png_13265191.png') 50% / cover no-repeat;
  margin: 75px 125px 87px 0;
  width: 290px;
  height: 332px;
}
.desktop-1 .projects {
  margin-bottom: 70px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 50px;
  line-height: 0.56;
  color: #3F314B;
}
.desktop-1 .contact {
  margin: 0 0 29px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .email-yingcaltech-edu-linkedin-linkedin-cominyingyintan {
  margin-bottom: 29px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #3F314B;
}
.desktop-1 .ying-tan-2024-all-rights-reserved {
  margin-left: 26px;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.867;
  color: #3F314B;
}
.desktop-1 .a-5-traeus {
  margin: 0 0.3px 19px 0.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .amultiplayer-space-game-with-aphysics-engine-programmed-in-cwith-sdl-emscripten-and-gitlab {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #3F314B;
}
.desktop-1 .clipart-20056951 {
  background: url('../assets/images/clipart_20056951.png') 50% / cover no-repeat;
  width: 730px;
  height: 415px;
}
.desktop-1 .button {
  box-shadow: var(--m-3-elevation-light-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.3)), var(--m-3-elevation-light-1, 0px 1px 3px 1px rgba(0, 0, 0, 0.15));
  border-radius: 100px;
  background: #F7F2FA;
  display: flex;
  align-self: flex-start;
  padding: 10px 0;
  width: 164px;
  box-sizing: border-box;
}
.desktop-1 .natural-product-synthesis {
  margin: 0 0 19px 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .researched-the-caltech-stoltz-lab-researched-the-organic-chemical-synthesis-of-these-intermediates-wcrystallography-technology {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #3F314B;
}
.desktop-1 .button-1 {
  box-shadow: var(--m-3-elevation-light-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.3)), var(--m-3-elevation-light-1, 0px 1px 3px 1px rgba(0, 0, 0, 0.15));
  border-radius: 100px;
  background: #F7F2FA;
  margin: 0 8px;
  display: flex;
  align-self: flex-start;
  padding: 10px 0;
  width: 184px;
  box-sizing: border-box;
}
.desktop-1 .button-2 {
  box-shadow: var(--m-3-elevation-light-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.3)), var(--m-3-elevation-light-1, 0px 1px 3px 1px rgba(0, 0, 0, 0.15));
  border-radius: 100px;
  background: #F7F2FA;
  margin: 0 5px;
  display: flex;
  align-self: flex-start;
  padding: 7px 0;
  width: 108px;
  box-sizing: border-box;
}
.desktop-1 .button-3 {
  box-shadow: var(--m-3-elevation-light-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.3)), var(--m-3-elevation-light-1, 0px 1px 3px 1px rgba(0, 0, 0, 0.15));
  border-radius: 100px;
  background: #F7F2FA;
  margin: 0 6px;
  display: flex;
  align-self: flex-start;
  padding: 7px 0;
  width: 187px;
  box-sizing: border-box;
}
.desktop-1 .in-ovo-egg-sexing {
  margin: 0 6px 19px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .researched-caltech-bronner-lab-using-led-laser-contrast-imaging-trained-amachine-learned-ai-to-sex-eggs-from-blood-vessel-patterns {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #3F314B;
}
.desktop-1 .scholar-success-portal {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .internship-project-at-college-match-develop-website-wopportunities-and-network-linking-airtable-database-for-2300-members {
  margin: 0 0 28px 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #3F314B;
}
.desktop-1 .for-more {
  margin: 3px 18.6px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .button-4 {
  border-radius: 100px;
  background: #65558F;
  display: flex;
  padding: 3px 0;
  width: 181px;
  box-sizing: border-box;
}
.desktop-1 .yingyin-tan {
  margin: 0 1px 26px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 50px;
  line-height: 0.56;
  color: #3F314B;
}
.desktop-1 .neuro-cs-student-caltech {
  margin-bottom: 26px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Secular One';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.933;
  color: #3F314B;
}
.desktop-1 .container-2 {
  background: #DCE6F1;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 279px 0 0 97px;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  margin: 0 0.6px 53px 0.6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-4 {
  margin: 0 147.4px 279px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.desktop-1 .container-5 {
  background: #E5E5E5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 21.8px 37px 31px;
  box-sizing: border-box;
}
.desktop-1 .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #E6EDF5;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0 24px 0;
  box-sizing: border-box;
}
.desktop-1 .container-7 {
  margin-right: 175.6px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-8 {
  background: #E5E5E5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 28.1px 37px 28px;
  box-sizing: border-box;
}
.desktop-1 .container-9 {
  background: #F1F1F1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 125px 99.4px 148px 0;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-10 {
  margin: 0 0.6px 72px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.desktop-1 .container-11 {
  background: #E5E5E5;
  position: relative;
  margin-right: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 37px 32px;
  width: 420px;
  box-sizing: border-box;
}
.desktop-1 .label-text {
  overflow-wrap: break-word;
  font-family: var(--m-3-labellarge-font-family, 'Roboto');
  font-weight: var(--m-3-labellarge-font-weight, 500);
  font-size: var(--m-3-labellarge-font-size, 14px);
  letter-spacing: var(--m-3-labellarge-letter-spacing, 0.1px);
  line-height: var(--m-3-labellarge-line-height, 1.429);
  color: #65558F;
}
.desktop-1 .label-text-1 {
  overflow-wrap: break-word;
  font-family: var(--m-3-labellarge-font-family, 'Roboto');
  font-weight: var(--m-3-labellarge-font-weight, 500);
  font-size: var(--m-3-labellarge-font-size, 14px);
  letter-spacing: var(--m-3-labellarge-letter-spacing, 0.1px);
  line-height: var(--m-3-labellarge-line-height, 1.429);
  color: #65558F;
}
.desktop-1 .label-text-2 {
  overflow-wrap: break-word;
  font-family: var(--m-3-labellarge-font-family, 'Roboto');
  font-weight: var(--m-3-labellarge-font-weight, 500);
  font-size: var(--m-3-labellarge-font-size, 14px);
  letter-spacing: var(--m-3-labellarge-letter-spacing, 0.1px);
  line-height: var(--m-3-labellarge-line-height, 1.429);
  color: #65558F;
}
.desktop-1 .label-text-3 {
  overflow-wrap: break-word;
  font-family: var(--m-3-labellarge-font-family, 'Roboto');
  font-weight: var(--m-3-labellarge-font-weight, 500);
  font-size: var(--m-3-labellarge-font-size, 14px);
  letter-spacing: var(--m-3-labellarge-letter-spacing, 0.1px);
  line-height: var(--m-3-labellarge-line-height, 1.429);
  color: #65558F;
}
.desktop-1 .label-text-4 {
  overflow-wrap: break-word;
  font-family: var(--m-3-titlelarge-font-family, 'Roboto');
  font-weight: var(--m-3-titlelarge-font-weight, 400);
  font-size: var(--m-3-titlelarge-font-size, 22px);
  line-height: var(--m-3-titlelarge-line-height, 1.273);
  color: #FFFFFF;
}
